.thumbnail{
width:100%;

margin-bottom:12px;

}

.p1{
    
   margin-top:0;
   font-size: 14px;
    font-weight: 500;
    line-height:20px;
    margin-bottom:12px;
}
.d-p-3{
display:grid;
grid-template-columns: 50px 1fr ;
}
.profile-picture{
   
    width:35px;
    border-radius: 50px;
    vertical-align: top;
}








.p3,
.p2{
    font-size:12px;
    color:rgb(96,96,96);
}
.p2{
    margin-bottom:4px;
}
.p1{}
.video-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:16px;
    row-gap:40px;
}